# Compiled Object files
*.slo
*.lo
*.o
*.obj
.ropeproject
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/sbh

*.seq

*.flat
*.gdx
*.pyc
# Swap files
*.swo
*.swp
*~

docs/generated/*
